In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import LinearSVC, SVC
from sklearn import linear_model, tree, neighbors
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import f1_score, accuracy_score
from sklearn import preprocessing
from nltk import pos_tag
import time
from analyze_words import get_final_df
import joblib

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/rhedintzaaudryna/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [37]:
from analyze_words import *

In [5]:
def applyModels(model, x_train, y_train):
    print(model)
    model.fit(x_train, y_train)
    return model


def predictModel(model, x_test):
    prediction = model.predict(x_test)
    return prediction

In [2]:
df = get_final_df('test_data/merged_data.csv')

In [3]:
df

,gross,bloody,burgers,three,heady,beers,blaring,music,ears,still,...,pricing at seems,at seems little,seems little steep,little steep group,steep group tour,group tour end,tour end very,end very happy,very happy did,Rating
0,2.836342,3.246761,1.821409,2.014717,2.937546,2.638711,2.937546,2.91384,2.879994,1.230529,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.153621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.153621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
9996,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
9997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.384345,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
9998,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
9999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [21]:
x_train, x_test, y_train, y_test = train_test_split(df.drop("Rating", axis=1),df.Rating,test_size=0.99)

model = linear_model.SGDClassifier()

In [22]:
trained_model = applyModels(model, x_train, y_train)
prediction = predictModel(trained_model, x_test)

SGDClassifier()

In [27]:
np.mean(prediction == y_test)

0.5774747474747475

In [23]:
accuracy_df = pd.DataFrame({'prediction': prediction, 'test': y_test})

In [24]:
accuracy_df[accuracy_df.prediction != accuracy_df.test]

      prediction test
5292           2    3
9039           2    5
7904           5    4
4306           2    3
127            3    1
...          ...  ...
6284           5    4
4108           2    3
5641           4    3
9640           4    5
7485           2    4

[4183 rows x 2 columns]

In [28]:
def evaluateModel(model, prediction, x, y):
    start_time = time.time()
    confusion = confusion_matrix(y.to_numpy(), prediction)
    accuracy = accuracy_score(y, prediction)*100
    f1 = f1_score(y, prediction, average='macro')
    cr = classification_report(prediction, y)
    completed_time = time.time() - start_time
    print('Evaluation Time: ', completed_time)
    return {
        'prediction': prediction,
        'confusion': confusion,
        'accuracy': accuracy,
        'classification report': cr,
        'f1': f1
    }

In [45]:
trained_model.get_features()

AttributeError: 'SGDClassifier' object has no attribute 'get_features'

In [33]:
print(accuracy_score(y_test, prediction)*100)

57.74747474747475

In [34]:
confusion_matrix(y_test, prediction)

array([[1449,  417,  110,    7,    0],
       [ 237, 1575,    0,   13,  153],
       [ 213,  326, 1026,  360,   55],
       [ 166,  225,  146,  754,  691],
       [ 196,  253,  118,  497,  913]])

In [31]:
print(classification_report(prediction, y_test))

              precision    recall  f1-score   support

           1       0.73      0.64      0.68      2261
           2       0.80      0.56      0.66      2796
           3       0.52      0.73      0.61      1400
           4       0.38      0.46      0.42      1631
           5       0.46      0.50      0.48      1812

    accuracy                           0.58      9900
   macro avg       0.58      0.58      0.57      9900
weighted avg       0.61      0.58      0.59      9900

In [ ]:
#  specify the inputs: ngrams, removing stop words, removing punctuations or not 
#  If we have 100,000 columns, forward  selection to choose only the best columns
#  specifiy model parameters like loss, alpha, etc.

In [ ]:
# ngrams = [1,2,3,4,5]
# stop_words = [0, 10, 20]
# lemmatize = [True, False]

# alpha = [0.0001, 0.001, 0.01, 0.1, 1]




#  10 columns 
# 9 columns 
# 1 column used (40%, 2 columns used 8 columns left (50%, 3 columns (49%)
best_comb = {} # include ngram, stop words, lemmatize, idf, alpha
best_accuracy = -1
for ngram in ngrams: 
    for stop_word in stop_words:
        for lemmatize1 in lemmatize: 
            for alpha1 in alpha:
                df = get_final_df()
                model = linear_model.SGDClassifier(alpha=alpha1)
                

return best_comb, best_df, idf



#forward selection

#save the model
return

In [42]:
def forward_selection(df):
    '''
    Given a dataset with P predictor variables, uses forward selection to
    select models for every value of K between 1 and P.

    Inputs:
        dataset: (DataSet object) a dataset

    Returns:
        A list (of length P) of Model objects. The first element is the
        model where K=1, the second element is the model where K=2, and so on.
    '''

    models = []
    pred_vars_avail = dataset.pred_vars[:]
    pred_vars_used = []
    num_vars = len(dataset.pred_vars)

    for _ in range(num_vars):
        max_R2 = 0
        max_model = None
        max_variable = None
        for var in pred_vars_avail:
            model = Model(dataset, pred_vars_used + [var])
            if model.R2 > max_R2:
                max_model = model
                max_R2 = model.R2
                max_variable = var
        pred_vars_used.append(max_variable)
        pred_vars_avail.remove(max_variable)
        models.append(max_model)

    return models

In [35]:
def get_stop_words(all_tokens, num_stop_words=20):
    '''
    Obtain the particular stop words (most frequently occurring words) in the
    sample, which may differ from a list of generic stop words.

    Inputs:
        - all_tokens (list of list of strings): a list of list of all tokens
        - num_stop_words (int): number of stop words to remove

    Returns:
        - list of most common words
    '''
    all_words = list(itertools.chain.from_iterable(all_tokens))
    freq_dist = FreqDist(all_words)
    stop_words = freq_dist.most_common(num_stop_words)

    return [word[0] for word in stop_words]

In [38]:
df = pd.read_csv('test_data/merged_data.csv', usecols=[0, 1], names=[
                     'Rating', 'Text'], header=None)
all_tokens = [processing(text) for text in df.Text]

In [40]:
store = get_stop_words(all_tokens, 100)

In [41]:
store[:20]

['the',
 'and',
 'i',
 'a',
 'to',
 'was',
 'it',
 'of',
 'we',
 'for',
 'in',
 'is',
 'but',
 'that',
 'this',
 'with',
 'they',
 'were',
 'my',
 'not']