In [13]:
import model
import analyze_words
from sklearn.model_selection import train_test_split, cross_val_score

In [8]:
bla = analyze_words.get_final_df("./test_data/merged.csv")

In [9]:
bla = bla[bla.Rating != "Rating"]

In [10]:
bla

,Rating,great,spanish,tapas,highly,recommend,tomato,bread,patatas,bravas,...,up overall fun,overall fun foodie,fun foodie stop,foodie stop at,stop at chicago,at chicago institution,chicago institution even,institution even if,even if just,if just carryout
0,5,0.449647,2.338498,1.944264,1.695652,1.328272,1.876677,1.506602,2.700637,2.396538,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,5,0.499607,0.000000,0.000000,0.000000,0.000000,1.668158,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,5,0.399686,0.000000,1.296176,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,0.374705,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,0.000000,0.000000,0.000000,0.000000,0.000000,2.502236,1.607042,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4239,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4240,5,0.000000,0.000000,0.000000,0.000000,1.180686,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4241,5,0.599529,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4242,5,0.499607,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4243,4,0.428235,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777

In [35]:
import pandas as pd
import numpy as np
from sklearn.svm import LinearSVC, SVC
from sklearn import linear_model, tree, neighbors
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import preprocessing
from nltk import pos_tag
import time
from analyze_words import get_final_df


def applyModels(model, x_train, y_train):
    print(model)
    model.fit(x_train, y_train)
    return model


def predictModel(model, x_test):
    prediction = model.predict(x_test)
    return prediction


def evaluateModel(model, prediction, x, y):
    start_time = time.time()
    # confusion = confusion_matrix(y.values, prediction, labels=[1, 0])
    accuracy = cross_val_score(model, x, y)
    precision = cross_val_score(model, x, y, scoring='precision', average='macro')
    recall = cross_val_score(model, x, y, scoring='recall', average='macro')
    f1 = cross_val_score(model, x, y, scoring='f1', average='macro')
    completed_time = time.time() - start_time
    print('Evaluation Time: ', completed_time)
    return {
        'prediction': prediction,
        'confusion': 0,
        'accuracy': accuracy,
        'precision': precision,
        'recall': recall,
        'f1': f1
    }


def generate_additional_features():
    # in case we want to include number of taggings (like verb, noun) to our columns
    pass


def select_features():
    # implement feature selection algorithm,
    # this is similar to the forward selection/greedy algorithm we did in PA5 Fall Quarter
    pass


def main(df, testing_fraction=0.2):
    # Potential for nested for loops here to manipulate n and remove stop and number of stop words
    #df = get_final_df(csv_file)
    x_train, x_validate_test, y_train, y_validate_test = train_test_split(df.iloc[:, 1:],
                                                                          df.Rating,
                                                                          test_size=testing_fraction,
                                                                          random_state=33)
    x_validate, x_test, y_validate, y_test = train_test_split(x_validate_test,
                                                              y_validate_test,
                                                              test_size=0.5,
                                                              random_state=33)
    print(y_train.head(10))
    print(y_train.head(10))
    # Potential for loops to manipulate model parameters

    model = linear_model.SGDClassifier(loss='hinge', alpha=0.0001, penalty='l2',
                                       max_iter=300, tol=None, shuffle=True)
    trained_model = applyModels(model, x_train, y_train)
    prediction = predictModel(trained_model, x_test)
    result = evaluateModel(trained_model, prediction, x_test, y_test)

    print(result)

    # SAVE MODEL, IDK HOW TO DO THIS HEHE

In [17]:
x_train, x_validate_test, y_train, y_validate_test = train_test_split(bla.iloc[:, 1:],
                                                                          bla.Rating,
                                                                          test_size=0.2,
                                                                          random_state=33)
x_validate, x_test, y_validate, y_test = train_test_split(x_validate_test,
                                                          y_validate_test,
                                                          test_size=0.5,
                                                          random_state=33)

In [46]:
x_test

,great,spanish,tapas,highly,recommend,tomato,bread,patatas,bravas,croquetas,...,up overall fun,overall fun foodie,fun foodie stop,foodie stop at,stop at chicago,at chicago institution,chicago institution even,institution even if,even if just,if just carryout
311,0.374705,0.000000,1.701231,0.000000,0.000000,1.563898,1.255502,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3783,0.428235,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777
3099,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
502,0.399686,0.000000,1.296176,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2852,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,0.337235,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
974,0.000000,2.078665,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1986,0.449647,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1342,0.374705,0.000000,0.000000,1.413043,1.328272,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [23]:
test = pd.DataFrame({"Bla": [1,2,3], "stuff": ["a", "b", "c"]})

In [25]:
y = test.Bla.astype("category")

In [28]:
test.insert(0, "Categorized", y)

In [31]:
test

  Categorized  Bla stuff
0           1    1     a
1           2    2     b
2           3    3     c

In [32]:
model = linear_model.SGDClassifier(loss='hinge', alpha=0.0001, penalty='l2',
                                       max_iter=300, tol=None, shuffle=True)
trained_model = applyModels(model, x_train, y_train)
prediction = predictModel(trained_model, x_test)

SGDClassifier(max_iter=300, tol=None)

In [37]:
accuracy = cross_val_score(trained_model, x_test, y_test)

In [38]:
accuracy

array([1.        , 0.98823529, 1.        , 0.97647059, 1.        ])

In [39]:
from sklearn.metrics import confusion_matrix,classification_report

In [40]:
print(classification_report(prediction,y_test))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        17
           2       1.00      1.00      1.00         5
           3       1.00      1.00      1.00        32
           4       1.00      1.00      1.00       119
           5       1.00      1.00      1.00       251

    accuracy                           1.00       424
   macro avg       1.00      1.00      1.00       424
weighted avg       1.00      1.00      1.00       424

In [50]:
prediction[:5]

array(['4', '4', '5', '5', '3'], dtype='<U1')

In [51]:
y_test[:5]

311     4
3783    4
3099    5
502     5
2852    3
Name: Rating, dtype: category
Categories (6, object): ['1', '2', '3', '4', '5', 'Rating']

In [48]:
y_test

311     4
3783    4
3099    5
502     5
2852    3
       ..
3597    1
974     5
2550    5
1986    5
1342    5
Name: Rating, Length: 424, dtype: category
Categories (6, object): ['1', '2', '3', '4', '5', 'Rating']

In [52]:
x_test

,great,spanish,tapas,highly,recommend,tomato,bread,patatas,bravas,croquetas,...,up overall fun,overall fun foodie,fun foodie stop,foodie stop at,stop at chicago,at chicago institution,chicago institution even,institution even if,even if just,if just carryout
311,0.374705,0.000000,1.701231,0.000000,0.000000,1.563898,1.255502,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3783,0.428235,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777,2.103777
3099,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
502,0.399686,0.000000,1.296176,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2852,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,0.337235,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
974,0.000000,2.078665,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2550,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1986,0.449647,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1342,0.374705,0.000000,0.000000,1.413043,1.328272,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [99]:
baba = analyze_words.get_final_df("./test_data/babareba.csv")

In [100]:
baba

,Rating,great,spanish,tapas,highly,recommend,tomato,bread,patatas,bravas,...,wow also drinks,also drinks talk,drinks talk about,talk about value,about value if,value if you're,if you're chicago,you're chicago must,chicago must visit,must visit place
0,1,0.267506,1.422840,0.693147,1.726939,1.726939,0.902980,1.207078,1.726939,1.42284,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,0.297229,0.000000,0.000000,0.000000,0.000000,0.802649,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1,0.237783,0.000000,0.462098,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1,0.222922,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1,0.000000,0.000000,0.000000,0.000000,0.000000,1.203973,1.287550,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,5,0.267506,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1436,5,0.237783,0.000000,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1437,5,0.000000,0.000000,0.000000,1.439116,1.726939,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1438,5,0.267506,0.000000,0.519860,0.000000,0.000000,0.000000,0.000000,0.000000,1.42284,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1439,5,0.237783,1.580933,0.462098,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,1.997155,1.997155,1.997155,1.997155,1.997155,1.997155,1.997155,1.997155,1.997155,1.997155

In [101]:
x_train, x_test, y_train, y_test = train_test_split(baba.iloc[:, 1:], baba.Rating, test_size=0.2,
                                                    random_state=10)

In [102]:
y_test

1280    5
758     5
1245    4
483     1
125     1
       ..
1044    4
689     1
348     1
619     1
381     1
Name: Rating, Length: 288, dtype: category
Categories (3, int64): [1, 4, 5]

In [103]:
model = linear_model.SGDClassifier(loss='hinge', alpha=0.0001, penalty='l2',
                                       max_iter=300, tol=None, shuffle=True)
trained_model = applyModels(model, x_train, y_train)

SGDClassifier(max_iter=300, tol=None)

In [104]:
prediction = trained_model.predict(x_test)

In [105]:
np.mean(y_test == prediction)

0.4965277777777778

In [106]:
prediction

array([5, 1, 4, 4, 4, 4, 5, 5, 5, 1, 5, 4, 5, 5, 4, 1, 4, 1, 5, 1, 5, 5,
       4, 5, 5, 4, 5, 1, 1, 1, 4, 1, 5, 1, 5, 1, 4, 5, 1, 4, 1, 5, 1, 4,
       4, 1, 4, 1, 5, 5, 1, 5, 1, 5, 5, 5, 4, 5, 5, 1, 1, 1, 4, 5, 1, 1,
       4, 5, 1, 5, 5, 5, 5, 5, 1, 5, 5, 5, 1, 5, 4, 1, 4, 4, 1, 4, 5, 5,
       5, 1, 5, 4, 5, 5, 5, 5, 1, 5, 4, 5, 5, 5, 5, 4, 1, 5, 1, 4, 1, 1,
       5, 1, 5, 5, 5, 4, 5, 5, 5, 1, 4, 5, 5, 1, 5, 1, 5, 4, 5, 1, 4, 5,
       5, 5, 5, 1, 5, 5, 1, 5, 4, 1, 1, 1, 5, 1, 5, 4, 5, 4, 1, 5, 5, 5,
       5, 5, 4, 5, 1, 1, 1, 1, 1, 1, 1, 5, 4, 5, 4, 1, 1, 5, 4, 4, 4, 1,
       4, 5, 4, 5, 1, 1, 4, 5, 1, 1, 5, 5, 5, 5, 1, 1, 4, 5, 5, 5, 5, 1,
       1, 1, 4, 5, 5, 5, 5, 1, 4, 1, 5, 1, 1, 4, 5, 4, 5, 4, 5, 1, 1, 5,
       4, 5, 1, 1, 5, 5, 5, 5, 1, 1, 4, 4, 4, 4, 5, 5, 5, 1, 5, 5, 5, 1,
       5, 5, 5, 1, 1, 5, 5, 4, 5, 1, 5, 1, 5, 1, 5, 1, 4, 1, 1, 1, 5, 1,
       5, 5, 1, 4, 4, 5, 1, 5, 4, 1, 5, 5, 5, 5, 1, 5, 4, 4, 5, 5, 5, 1,
       1, 1])

In [86]:
y_test

1280    5
758     5
1245    4
483     4
125     4
       ..
1044    4
689     5
348     5
619     5
381     5
Name: Rating, Length: 288, dtype: category
Categories (2, int64): [4, 5]

In [107]:
big_df = analyze_words.get_final_df("./test_merge_data/merged.csv")

In [108]:
big_df

,Rating,great,spanish,tapas,highly,recommend,tomato,bread,patatas,bravas,...,here had tonkotsu,had tonkotsu w,tonkotsu w pork,w pork belly,pork belly very,belly very good,very good recommend,good recommend trying,recommend trying drink,"trying drink ""stringria"""
0,5,0.619144,2.724831,2.728202,1.87765,1.447557,2.242696,1.266612,3.344435,3.040336,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,5,0.687937,0.000000,0.000000,0.00000,0.000000,1.993507,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,5,0.550350,0.000000,1.818801,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,0.515953,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,0.000000,0.000000,0.000000,0.00000,0.000000,2.990261,1.351053,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10020,5,0.619144,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10021,3,0.000000,0.000000,0.000000,0.00000,1.447557,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10022,4,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10023,4,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10024,5,0.000000,0.000000,0.000000,0.00000,1.447557,0.000000,0.000000,0.000000,0.000000,...,6.085669,6.085669,6.085669,6.085669,6.085669,6.085669,6.085669,6.085669,6.085669,6.085669

In [127]:
big_df[big_df.Rating == "Rating"]

,Rating,great,spanish,tapas,highly,recommend,tomato,bread,patatas,bravas,...,here had tonkotsu,had tonkotsu w,tonkotsu w pork,w pork belly,pork belly very,belly very good,very good recommend,good recommend trying,recommend trying drink,"trying drink ""stringria"""
1160,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1821,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1822,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2223,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2544,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2925,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3226,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3287,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3628,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4009,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4210,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4331,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4612,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4993,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5934,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6255,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6636,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8777,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8778,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9559,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9560,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9961,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9962,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9963,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9964,Rating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [109]:
x_train, x_test, y_train, y_test = train_test_split(big_df.iloc[:, 1:], big_df.Rating, test_size=0.2,
                                                    random_state=10)

In [110]:
model = linear_model.SGDClassifier(loss='hinge', alpha=0.0001, penalty='l2',
                                       max_iter=300, tol=None, shuffle=True)
trained_model = applyModels(model, x_train, y_train)

SGDClassifier(max_iter=300, tol=None)

In [111]:
%%time
prediction = trained_model.predict(x_test)

CPU times: user 958 ms, sys: 503 ms, total: 1.46 s
Wall time: 1.43 s

In [114]:
np.mean(prediction == y_test)

1.0

In [116]:
y_test

5670    5
4709    5
2313    5
1818    5
2370    5
       ..
3122    5
5169    4
7507    4
3182    5
8998    5
Name: Rating, Length: 2005, dtype: category
Categories (6, object): ['1', '2', '3', '4', '5', 'Rating']

In [118]:
import joblib

In [120]:
joblib.dump(trained_model, "perfect_model.pkl")

['perfect_model.pkl']

In [121]:
trained_model = joblib.load("perfect_model.pkl")

In [122]:
prediction = trained_model.predict(x_test)

In [125]:
np.mean(prediction == y_test)

1.0