In [36]:
%load_ext autoreload
%autoreload 2
import merge_data
import os
import csv
import pandas as pd
import numpy as np
import glob

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [48]:
merge_data.merge_data(scraped_data_dir="scraped_data/", num_samples=10000,
               random_state=1234)

      Rating                                               Text
0          5  Consistently good and consistently crowded, th...
1          5  -Great Spanish Tapas!\n-Highly recommend the t...
2          5  What a great spot! In Covid times, I thought t...
3          5  Ba Ba BABY this place is wild from start to fi...
4          5  Tasty tasty.\n\nHeard about this place from a ...
...      ...                                                ...
76494      5  I have always wanted to try her ice cream and ...
76495      5  Jeni&apos;s is the best ice cream you will eve...
76496      5  Love it! This treasure of flavor and happiness...
76497      4  Jeni&apos;s offers a wide variety of flavors a...
76498      5  Having a splendid good time  Imagine this: fre...

[76499 rows x 2 columns]
     Rating                                               Text
0         1  Gross.\n\n$72 for bloody burgers, three heady ...
1         1  Update: after two weeks, I still have not rece...
2         1  Whoever the person with the blonde curly hair ...
3         1  Terrible service.No hospitality.\nWe booked th...
4         1  Update: after two weeks, I still have not rece...
...     ...                                                ...
9995      5  Just when I thought I couldn&apos;t love Molly...
9996      5  A whole slice of cake in a shake? Yea .. \n\nA...
9997      5  By far the BEST cupcakes in the city. We were ...
9998      5  LOVE LOVE LOVE this burger place, whoever visi...
9999      5  BEST  PIZZA  EVER.\n\nI looked up several revi...

[10000 rows x 2 columns]

In [42]:
concatenated_df

      Rating                                               Text
0          5  Consistently good and consistently crowded, th...
1          5  -Great Spanish Tapas!\n-Highly recommend the t...
2          5  What a great spot! In Covid times, I thought t...
3          5  Ba Ba BABY this place is wild from start to fi...
4          5  Tasty tasty.\n\nHeard about this place from a ...
...      ...                                                ...
76494      5  I have always wanted to try her ice cream and ...
76495      5  Jeni&apos;s is the best ice cream you will eve...
76496      5  Love it! This treasure of flavor and happiness...
76497      4  Jeni&apos;s offers a wide variety of flavors a...
76498      5  Having a splendid good time  Imagine this: fre...

[76499 rows x 2 columns]